<head>
	<script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>

<body>
	<footer class="footer">
		<div class="container row">
			<div class="footer-col">
				<h4>company</h4>
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">our services</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">visit website</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>get help</h4>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">adoption process</a></li>
					<li><a href="#">nutrition</a></li>
					
				</ul>
			</div>
			<div class="footer-col">
				<h4>Forever friends</h4>
				<ul>
					<li><a href="#">albums</a></li>
					<li><a href="#">succesful stories</a></li>
					<li><a href="#">rescues</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>follow us</h4>
				<div class="social-links">
					<a href="#"><i class="ri-facebook-circle-line"></i></a>
					<a href="#"><i class="ri-instagram-line"></i></a>
					<a href="#"><i class="ri-twitter-line"></i></a>
					<a href="#"><i class="ri-linkedin-line"></i></a>
				</div>
			</div>
		</div>
	</footer>
</body>